@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@400;600&display=swap');



   * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins' , 'sans-serif';
        font-size: 16px;
        font-weight: normal;

    }

    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 10%;
        background: transparent;
        display: flex;
        justify-content: space-between;
        align-items: right;
        z-index: 100;
    }

    .logo {
        font-size: 25px;
        color: #e1a730;
        text-decoration: none;
        font-weight: 600;
    }

    .navbar a {
        font: size 18px;
        color: #fff;
        text-decoration: none;
        font-weight: 500;
        margin-left: 35px;
        transition: .3s;
    }

    .navbar a :hover {
        color: #e1a730;
    }
    .navbar a.active {
        color: #e1a730;
    }
    
    .box {
        position: relative;
        width: 30%;
        height: 400px;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        overflow: hidden;
        margin: 0px auto;
        display: block;
    }

    .box::before {
        content: '';
        position: absolute;
        inset: -10px 140px;
        background: linear-gradient(315deg, #e1a730, #f5f5dc);
        transition: 0.5s;
        animation: animate 4s linear infinite;
    }

    .box:hover::before {
        inset: -20px 0px;
    }
    @keyframes animate {
        0%
        {
            transform: rotate(0deg);
        }
        100%
        {
            transform: rotate(360deg);
        }
    } 

    .box::after {
        content: '';
        position: absolute;
        inset: 6px;
        background: #031540;
        border-radius: 50%;
        z-index: 1;
    }

    .content {
        position: absolute;
        inset: 30px;
        border: 6px solid #070a1c;
        z-index: 3;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .content img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.5s;
        pointer-events: none;
        z-index: 3;
    }
      
    .box:hover  .content img {
        opacity: 0;
    }

    .content h2 {
        position: relative;
        font-size: 1.5em;
        text-align: center;
        color: #e1a730;
        font-weight: 600;
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }
    
    .h1{
        font-size: 58px;
        color: #fff;
        position: relative;
    }
    
    h1::after{
        position: absolute;
        content: "";
        width: 25%;
        height: 4px;
        left: 0;
        bottom: 2px;
    }
    
    
    
    .heading {
        font-size: 3rem;
        text-align: center;
        font-size: 4.0rem;
        color: #fff;
        -webkit-text-stroke: 2px #fff;
        font-weight: 700;
        line-height: 5.3;
    
    }
    

    body {
        background: #031540;
        margin: 0;
        color: #fff;
        font-size: 35px;
        font-weight: 100;
        text-align: center;
        position: center;
        
    }

    .btn {
        position: relative;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;
    }

    .btn .play {
        position: relative;
        width: 80px;
        height: 80px;
        background: #e1a730;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 15px 25px #72551a;
        transition: 0.5s;

    }

    .btn.active .play {
        box-shadow: 0 0 0 150vh #e1a730;
       
    }
    .btn .play::before {
        content: '';
        position: absolute;
        border: 25px solid #fff;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-right: 0px solid transparent;
        transform: translateX(5px);
    }

    .btn p {
        font-weight: 500;
        font-size: 1em;
        color: #f5f5dc;
        letter-spacing: 4px;
        text-transform: uppercase;
        
    }

    .clip {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10000;
        transition: 0.5s;
         
    }

    .clip.active {
        transition-delay: 0.5s;
        transform: translate(-50%, -50%) scale(1);
    }

    .clip video {
        max-width: 900px;
        outline: none;
        border: 10px solid #031540;
        box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
    }

    .clip .close {
       position: absolute; 
       top: 30px;
       right: 30px;
       cursor: pointer;
       font-weight: 300;
       letter-spacing: 2px;
       text-transform: uppercase;
       color: #fff;
    }
    /* make it responsive */

    @media (max-width: 991px)
    {
    .clip video 
    {
      max-width: 90%;
    }
    }

    p {
        text-align: center;
        justify-content: space-between;
        margin: 10px;
    }

    footer {
        background-color: #031540;
        padding: 10px;
        text-align: center;
        color: #fff;
    }

  
   

   



   
  

    